<script setup lang="ts">
import type { FeedInterface } from '@/models/feedInterface';
import { onMounted, ref } from 'vue';
import axios from 'axios';
import { useFeedBackStore } from '@/stores/feedback';
import { storeToRefs } from 'pinia';

const store = useFeedBackStore();
const {feedbacks} = storeToRefs(store);

const handleDelete = async (id: number) => {
    await axios({
        method: 'delete',
        url: `http://localhost:3000/feedback/${id}`
    }).then(res => {
        store.deleteFeedback(id);
    }).catch(err => {
        console.log(err.message);
    })
}

onMounted(async() => {    
    await axios({
        method: 'get',
        url: 'http://localhost:3000/feedback'
    }).then(res => {
        //store.feedbacks = res.data;
        //store.$state = {feedbacks: res.data};        
        store.$patch({
            feedbacks: res.data
        });
    })
})

</script>

<template>
    <div v-for="feedback in feedbacks.reverse()" class="feedItem">
        <p class="item-rating"><span>{{feedback.rating}}</span></p>
        <button class="btn-delete" @click="handleDelete(feedback.id)">x</button>
        <p class="item-feed">{{feedback.feed}}</p>
    </div>
</template>

<style lang="scss">
    .feedItem {
        background-color: #fff;
        width: 550px;
        color: #333;
        border-radius: 15px;
        padding: 30px 40px;
        margin: 20px 0;
        position: relative;

        .item-rating {
            position: absolute;
            top: -10px;
            left: -10px;
            width: 35px;
            height: 35px;
            background: #5050fc;
            color: #fff;
            border: 1px #eee solid;
            border-radius: 50%;
            text-align: center;
            padding-top: 8px;
        }

        .btn-delete {
            position: absolute;
            top: 10px;
            right: 20px;
            cursor: pointer;
            background: none;
            border: none;
        }
    }
</style>