<script setup lang="ts">
import { useFeedBackStore } from "@/stores/feedback";
import { storeToRefs } from "pinia";

const store = useFeedBackStore();
</script>

<template>
    <div class="stats">
        <p>Feedbacks: {{store.getNumberFeedbacks}}</p>
        <p>Average: {{store.average}}</p>
    </div>
</template>

<style lang="scss">
    .stats {
        display: flex;
        justify-content: space-between;
        margin: 25px 0;
    }
</style>