<script setup lang="ts">
import RatingSelect from "./ratingSelect.vue";
import { ref } from "vue";
import axios from 'axios'
import type { FeedInterface } from "@/models/feedInterface";
import { useFeedBackStore } from "@/stores/feedback";

const ratingActive = ref<number>(10);
const feed = ref<string>("")

const store = useFeedBackStore();

const updateRating = (rating: number) => {
    ratingActive.value = rating;
}

const submit = (e: Event) => {
    e.preventDefault();

    if(!feed.value) {
        return;
    }

    const newFeed: FeedInterface = {
        rating: ratingActive.value,
        feed: feed.value,
        date: new Date()
    }

    axios({
        method: 'post',
        url: 'http://localhost:3000/feedback',
        data: newFeed
    }).then((res) => {
        console.log(res.status);
        store.$patch({
            feedbacks: [...store.feedbacks, res.data]
        })
    }).catch((err) => {
        console.log(err.message);
    })

    ratingActive.value = 10;
    feed.value = "";
}

</script>

<template>
    <div class="feedback">
        <h1 class="title">How satisfied are you using our <br> invoicing feature</h1>
        <form action="">
            <RatingSelect :ratingActive="ratingActive" @rating-emits="updateRating"/>
            <div class="feed-input">
                <input type="text" @keyup.enter="" name="feed" v-model="feed" placeholder="Tell us something that keeps you back coming">
                <button @click="submit">Send</button>
            </div>
        </form>
    </div>
</template>

<style lang="scss">

.feedback {
    text-align: center;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 550px;
    background: white;
    color: #333333;
    padding: 40px 50px;
    border-radius: 15px;


    .feed-input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: #ccc 1px solid;
        border-radius: 5px;
        padding: 2px 8px;
        height: 45px;

        button {
            padding: 10px 25px;
            font-weight: 500;
            background: #5050fc;
            color: white;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            margin-left: 5px;
        }

        button:hover {
            background: #6464ff;
        } 

        input {
            width: 320px;
            border: none;
            height: 40px;
            outline: none;
        }

        input::placeholder {
            font-size: 14px;
            color: #333333;
        }
    }

    h1 {
        font-size: 18px;
        font-weight: 500;
        line-height: 25px;
        margin: 0 0 20px 0;
    }

    form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
   
</style>