<script setup lang="ts">
import { ref } from 'vue';

const props = defineProps<{
    ratingActive: number
}>()

const emits = defineEmits<{
    (e: 'ratingEmits', rating: number): void,
}>()

const ratings: number[] = [1,2,3,4,5,6,7,8,9,10];

const handleRating = (rating: number) => {
    emits('ratingEmits', rating);
}
</script>

<template>
    <div class="container-rating">
        <li v-for="rating in ratings" :class="[rating===ratingActive ? 'active':'']" :key="rating" @click="handleRating(rating)">{{rating}}</li>
    </div>
</template>

<style lang="scss">
.container-rating {
    display: flex;
    margin-bottom: 20px;

    li {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        font-weight: 500;
        padding: 5px;
        background: #efefef;
        color: #333333;
        margin-right: 10px;
        cursor: pointer;
    }

    li:hover {
        background: #5050fc;
        color: white;
    }

    li:last-child {
        margin-right: 0;
    }
}

.active {
    background-color: blue !important;
    color: white !important;
    //border: 2px solid #333333;
}
</style>