/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Maven Pro';
    src: url('./fonts/MavenPro-Regular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Maven Pro';
    src: url('./fonts/MavenPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Maven Pro';
    src: url('./fonts/MavenPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Maven Pro';
    src: url('./fonts/MavenPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  * {
    font-family: Maven Pro, sans-serif;
    box-sizing: border-box;
  }
  
  body {
    background: #27273e;
    color: white;
  }
  