<script setup lang="ts">
import Feedback from "./components/feedback.vue";
import FeedBackList from "./components/feedBackList.vue";
import FeedBackStats from "./components/feedBackStats.vue";


</script>

<template>
  <main>
    <Feedback/>
    <FeedBackStats/>
    <FeedBackList/>
  </main>
</template>

<style lang="scss">

@import'./assets/resets.scss'; 
@import'./assets/fonts.scss';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

</style>